<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TeamProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>servlet Database on mariaDB</description>
		<res-ref-name>jdbc/servlet</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!--1 -->
	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>kr.co.team.controller.FrontController</servlet-class>
		<init-param>
			<param-name>/TeamProject/member/register</param-name>
			<param-value>kr.co.team.controller.member.MemberRegisterController</param-value>
		</init-param>

		<init-param>
			<param-name>/TeamProject/member/login</param-name>
			<param-value>kr.co.team.controller.member.MemberLoginController</param-value>
		</init-param>

		<init-param>
			<param-name>/TeamProject/member/logout</param-name>
			<param-value>kr.co.team.controller.member.MemberLogoutController</param-value>
		</init-param>

		<init-param>
			<param-name>/TeamProject/member/searchByID</param-name>
			<param-value>kr.co.team.controller.member.MemberSearchByIDController</param-value>
		</init-param>

		<init-param>
			<param-name>/TeamProject/Notepad/insert</param-name>
			<param-value>kr.co.team.controller.notepad.ContentInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>/TeamProject/member/findIDByEmail</param-name>
			<param-value>kr.co.team.controller.member.MemberSearchByEmailController</param-value>
		</init-param>
		
		<init-param>
			<param-name>/TeamProject/member/findPass</param-name>
			<param-value>kr.co.team.controller.member.MemberSearchPassController</param-value>
		</init-param>
		
		<init-param>
			<param-name>/TeamProject/themeMember/relation</param-name>
			<param-value>kr.co.team.controller.theme.BringThemeRelationController</param-value>
		</init-param>
		<init-param>
			<param-name>/TeamProject/Group/insert</param-name>
			<param-value>kr.co.team.controller.group.GroupMakingController</param-value>
		</init-param>
		<init-param>
			<param-name>/TeamProject/Group/search</param-name>
			<param-value>kr.co.team.controller.member.MemberSearchByGroupController</param-value>
		</init-param>
		<init-param>
         	<param-name>/TeamProject/date/dates</param-name>
        	<param-value>kr.co.team.controller.notepad.ClassifiedByDateController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/date/contentName</param-name>
        	<param-value>kr.co.team.controller.notepad.GetDateContentController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/date/themeContent</param-name>
        	<param-value>kr.co.team.controller.notepad.GetThemeContentController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/getGroupList</param-name>
        	<param-value>kr.co.team.controller.group.GetMyGroupListController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/groupMaking</param-name>
        	<param-value>kr.co.team.controller.group.GroupMakingController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/GetGroupMemberList</param-name>
        	<param-value>kr.co.team.controller.group.GetGroupMemberListController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/themeList</param-name>
        	<param-value>kr.co.team.controller.group.BringGroupThemeRelationController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/theme/deleteTheme</param-name>
        	<param-value>kr.co.team.controller.theme.DeleteThemeController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/withdrawGroup</param-name>
        	<param-value>kr.co.team.controller.group.WithdrawGroupController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/delegateGroupLeader</param-name>
        	<param-value>kr.co.team.controller.group.DelegateGroupLeaderController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/theme/updateThemeTitle</param-name>
        	<param-value>kr.co.team.controller.theme.UpdateThemeTitleController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/expelGroupMember</param-name>
        	<param-value>kr.co.team.controller.group.GroupExpelController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/theme/setRelation</param-name>
        	<param-value>kr.co.team.controller.theme.SetThemeRelationController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Notepad/updateContent</param-name>
        	<param-value>kr.co.team.controller.notepad.UpdateContentController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/theme/privateTheme</param-name>
        	<param-value>kr.co.team.controller.theme.PrivateThemeController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/setThemeShared</param-name>
        	<param-value>kr.co.team.controller.group.SetThemeSharedController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/Group/setThemeSharedIsMine</param-name>
        	<param-value>kr.co.team.controller.group.SetThemeSharedIsMineController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/message/page</param-name>
        	<param-value>kr.co.team.controller.message.MessageBoardController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/message/delete</param-name>
        	<param-value>kr.co.team.controller.message.DeleteMessageController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/message/isRead</param-name>
        	<param-value>kr.co.team.controller.message.ReadMessageController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/message/send</param-name>
        	<param-value>kr.co.team.controller.message.SendMessageController</param-value>
      	</init-param>
      	<init-param>
         	<param-name>/TeamProject/message/searchLeaderGroup</param-name>
        	<param-value>kr.co.team.controller.message.SearchLeaderGroupController</param-value>
      	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/Notepad/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/themeMember/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/Group/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>frontController</servlet-name>
      	<url-pattern>/date/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>frontController</servlet-name>
      	<url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>frontController</servlet-name>
      	<url-pattern>/message/*</url-pattern>
    </servlet-mapping>
	<!-- 2 -->


	<context-param>
		<param-name>GroupDAO</param-name>
		<param-value>kr.co.team.dao.GroupDAO</param-value>
	</context-param>
	<context-param>
		<param-name>GroupToMemberListDAO</param-name>
		<param-value>kr.co.team.dao.GroupToMemberListDAO</param-value>
	</context-param>
	<context-param>
		<param-name>MemberDAO</param-name>
		<param-value>kr.co.team.dao.MemberDAO</param-value>
	</context-param>
	<context-param>
		<param-name>MessageDAO</param-name>
		<param-value>kr.co.team.dao.MessageDAO</param-value>
	</context-param>
	<context-param>
		<param-name>NotepadDAO</param-name>
		<param-value>kr.co.team.dao.NotepadDAO</param-value>
	</context-param>
	<context-param>
		<param-name>ThemeMemberDAO</param-name>
		<param-value>kr.co.team.dao.ThemeMemberDAO</param-value>
	</context-param>
	<context-param>
		<param-name>ThemeMemberNotepadDAO</param-name>
		<param-value>kr.co.team.dao.ThemeMemberNotepadDAO</param-value>
	</context-param>
	<context-param>
		<param-name>GroupToMemberThemeDAO</param-name>
		<param-value>kr.co.team.dao.GroupToMemberThemeDAO</param-value>
	</context-param>
	
</web-app>